:root {
    --cor-primaria: #132a13;
    --cor-secundaria: #31572c;
    --cor-terciaria: #4f772d;
    --cor-quartenaria: #90a955;
    --cor-quintenaria: #42eb7a;
    --cor-texto: #fafafa;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
    background-color: var(--cor-primaria) ;
}