:root {
  --cor-primaria: #132a13;
  --cor-secundaria: #31572c;
  --cor-terciaria: #4f772d;
  --cor-quartenaria: #90a955;
  --cor-quintenaria: #ecf39e;
  --cor-texto: #fafafa;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.container__cabecalho {
  position: fixed;
  width: 100%;
  background-color: var(--cor-primaria);
  height: 3rem;
  z-index: 999;

  .cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 1rem;
  }
}

.link {
  text-decoration: none;
  color: var(--cor-texto);

  &:hover {
    color: var(--cor-quartenaria);
  }
}

.container__principal {
  animation: gradient 7s ease infinite;
  background: linear-gradient(-45deg, var(--cor-primaria), var(--cor-secundaria), var(--cor-terciaria), var(--cor-quartenaria)) no-repeat;
  background-size: 300% 300%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .secao__texto {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--cor-texto);

    .p__oi {
      font-size: 25px;
    }

    .p__nome {
      font-size: 30px;

      .blinking {
        animation: blink 1s infinite;
      }
    }

    .p__profissao {
      font-size: 25px;
    }

    .botao {
      background-color: var(--cor-terciaria);
      height: 3rem;
      border-radius: 20px;
      font-size: 15px;
      color: var(--cor-texto);
      border: none;
      transition: 0.9s;

      &:hover {
        font-size: 20px;
      }
    }
  }

  .secao__img {

    .img__tablet {
      display: none;
    }

    .img__cell {
      display: block;
    }

    .img__computador {
      display: none;
    }

    img {
      animation: moveUpDown 2s infinite;
    }
  }
}









/* Tablets em modo paisagem (horizontal) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets em modo paisagem */

  .container__principal {

    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

    .secao__texto {

      .p__oi {
        font-size: 40px;
      }

      .p__nome {
        font-size: 50px;
      }

      .p__profissao {
        font-size: 40px;
      }

      .botao {
        width: auto;
        font-size: 20px;
      }
    }

    .secao__img {
      .img__tablet {
        display: block;
      }

      .img__cell {
        display: none;
      }

      .img__computador {
        display: none;
      }
    }
  }


}

/* Tablets em modo retrato (vertical) */
@media only screen and (min-width: 768px) and (max-height: 1023px) {
  /* Estilos para tablets em modo retrato */

  .container__principal {

    display: flex;
    flex-wrap: wrap;

    .secao__img {
      .img__tablet {
        display: block;
      }

      .img__cell {
        display: none;
      }

      .img__computador {
        display: none;
      }
    }
  }

  .container__sobreMim {

    .sobreMim__imgs {
      .img__cell {
        display: none;
      }

      .img__tablet {
        display: block;
      }

      .img__computador {
        display: none;
      }
    }
  }


}



@media (min-width: 1024px) {
  /* Estilos para computadores de tela grande */


  .container__principal {

    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

    .secao__texto {

      .p__oi {
        font-size: 40px;
      }

      .p__nome {
        font-size: 50px;
      }

      .p__profissao {
        font-size: 40px;
      }

      .botao {
        width: auto;
        font-size: 20px;
      }
    }

    .secao__img {
      .img__tablet {
        display: none;
      }

      .img__cell {
        display: none;
      }

      .img__computador {
        display: block;
      }
    }
  }
}