:root {
  --cor-primaria: #132a13;
  --cor-secundaria: #31572c;
  --cor-terciaria: #4f772d;
  --cor-quartenaria: #90a955;
  --cor-quintenaria: #42eb7a;
  --cor-texto: #fafafa;
}

.container__sobreMim {
  background-color: var(--cor-secundaria);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container__sobreMim .sobreMim__imgs .img__cell {
  display: block;
}
.container__sobreMim .sobreMim__imgs .img__tablet {
  display: none;
}
.container__sobreMim .sobreMim__imgs .img__computador {
  display: none;
}
.container__sobreMim .sobreMim__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--cor-texto);
}
.container__sobreMim .sobreMim__text .sobreMim__quadro {
  margin: 20px;
  height: 100%;
  padding: 2rem 0rem 2rem 2rem;
  border: black 7px solid;
  background-color: var(--cor-quartenaria);
}
.container__sobreMim .sobreMim__text .sobreMim__quadro .sobreMim__h {
  font-family: "Finger Paint", cursive;
  font-size: 60px;
}
.container__sobreMim .sobreMim__text .sobreMim__quadro .soberMim__conteudo {
  font-family: "PT Serif", serif;
  font-size: 17px;
}

/* Tablets em modo paisagem (horizontal) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets em modo paisagem */
  .container__sobreMim {
    flex-wrap: wrap;
  }
  .container__sobreMim .sobreMim__imgs .img__cell {
    display: none;
  }
  .container__sobreMim .sobreMim__imgs .img__tablet {
    display: block;
  }
  .container__sobreMim .sobreMim__imgs .img__computador {
    display: none;
  }
  .container__sobreMim .sobreMim__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--cor-texto);
  }
  .container__sobreMim .sobreMim__text .sobreMim__quadro {
    margin: 20px;
    height: 100%;
    padding: 2rem 0rem 2rem 2rem;
    border: black 7px solid;
    background-color: var(--cor-quartenaria);
  }
  .container__sobreMim .sobreMim__text .sobreMim__quadro .sobreMim__h {
    font-family: "Moo Lah Lah", cursive;
    font-size: 60px;
  }
  .container__sobreMim .sobreMim__text .sobreMim__quadro .soberMim__conteudo {
    font-family: "PT Serif", serif;
    font-size: 17px;
  }
}
/* Tablets em modo retrato (vertical) */
@media only screen and (min-width: 768px) and (max-height: 1023px) {
  /* Estilos para tablets em modo retrato */
  .container__sobreMim {
    flex-wrap: nowrap;
  }
  .container__sobreMim .sobreMim__imgs .img__cell {
    display: none;
  }
  .container__sobreMim .sobreMim__imgs .img__tablet {
    display: block;
  }
  .container__sobreMim .sobreMim__imgs .img__computador {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* Estilos para computadores de tela grande */
  .container__sobreMim {
    flex-wrap: nowrap;
    justify-items: center;
  }
  .container__sobreMim .sobreMim__imgs .img__cell {
    display: none;
  }
  .container__sobreMim .sobreMim__imgs .img__tablet {
    display: none;
  }
  .container__sobreMim .sobreMim__imgs .img__computador {
    display: block;
  }
  .sobreMim__text {
    margin-top: 10rem;
  }
}/*# sourceMappingURL=soberMim.css.map */